/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: var(--gray);
}

#team-list div{
    background-color: white;
}

/*utilities*/
:root{
    --gray: #cecbcb;
}

.margin-bt{
    margin-bottom: 20px;
}

img{
    width: 100%;
}